.App {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #161616;
}


.block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

img {
  width: 500px;
}

.cartIcon {
  width: 70px;
}

.categoryButton:hover {
  background-color: #fdeb6b;;
}

.categoryButtonSelected:hover {
  background-color: green;
  margin: 5px;
  }

.categoryButton {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.icon {
  width: 20px;
}

button {
  background-color: #fdeb6b;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
}

p,  h2, h3, button {
  font-size: 20px;
}